---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { getCollection } from 'astro:content';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import FormattedDate from '../components/FormattedDate.astro';

const { tag } = Astro.props;
const posts = await getCollection('blog');
const filteredPosts = posts.filter(post => post.data.tags?.includes(tag));
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={`Posts tagged with "${tag}"`} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Posts tagged with "{tag}"</h1>
      <ul>
        {filteredPosts.map((post) => (
          <li>
            <a href={`/blog/${post.id}/`}>{post.data.title}</a>
            <FormattedDate date={new Date(post.data.pubDate)} />
          </li>
        ))}
      </ul>
    </main>
    <Footer />
  </body>
</html>